version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: dd-mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: chrisdee10/dd-backend:latest
    container_name: dd-backend
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
      - PORT=8080
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    image: chrisdee10/dd-frontend:latest
    container_name: dd-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  mongo_data:

